.Settings {
    display: grid;
    gap: 2rem;
    padding: 0.5rem 0.75rem;

    .Settings_Section {
        & h2 {
            font-size: 2.5rem;
        }

        .action-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            & button {
                display: flex;
                align-items: center;
                justify-content: center;

                gap: 1rem;
                padding: 1rem 1.5rem;

                border-radius: 5px;

                // svg

                & label {
                    text-transform: capitalize;
                }
            }
            .active {
                background-color: var(--main);
            }
        }
    }
}
