.App {
    display: grid;
    grid-template-columns: 15rem 1fr;

    // NavBar

    .view {
        padding: 0.75rem;

        overflow-y: auto;
        height: 100svh;

        background-color: var(--theme_c0);

        .Title {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .App {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;

        height: 100dvh;

        .view {
            order: -1; // NavBar to bottom
            height: auto;
        }

        // NavBar
    }
}
