:root {
  --main: #d195ef;
}

// gt font
@font-face {
  font-family: gt;
  src:
    local("gt"),
    url(/fonts/gt.woff) format("woff");
}

// acorn font
@font-face {
  font-family: acorn;
  src:
    local("acorn"),
    url(/fonts/acorn.woff) format("woff");
}

// Reset styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  font-family: gt;
  font-size: 1.1rem;
  text-decoration: none;

  color: var(--theme_text);
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: acorn;
  font-size: 1.5rem;
}

// Input & Button reset
input,
button {
  border: none;
  outline: none;
}

// Input style
input {
  background-color: var(--theme_c3);

  &:focus {
    background-color: var(--theme_c2);
  }
}

// Button style
button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--theme_c3);

  &:hover {
    background-color: var(--theme_c2);
  }
}

a {
  color: inherit;
}
